body{
    font-family: "Bebas Neue", sans-serif;
}
.tituloo{
    font-size: x-large;
}
.btn-1{
    border:  none;
    background: none;
}
.btn-2{
    border: none;
    background: none;
}
.btn-3{
    border: none;
    background: none;
}
.btn-4{
    border: none;
    background: none;
}
.ubicacion{
    margin-left: 800px;
    margin-top: -700px;
}

.ubicaciondos{
    margin-left: 800px;
    margin-top: 100px;
}
.titulodos{
    margin-left: 370px;
    font-size: x-large;
    margin-top: -120px;
}
.name{
    margin-left: 420px;
}
.colocarnombre{
    margin-left: 420px;
    background: none;
    border: none;
}
.Email{
    margin-left: 420px;
}
.sintitulo{
    
    background: none;
    
}
.container-fluid{
    background-color: #013D93;
    height: 60px;
}
.Emprestitulo{
    font-size: medium;
    margin-left: 93px;
    margin-top: -80px;
    color: aliceblue;
}
.btn-planes{
     background: none;
     color: aliceblue;
     border: none;
     font-size: medium;
     text-shadow: 1px 1px 2px black;
}
.btn-contactos{
    border: none;
    background: none;
    color: aliceblue;
    font-size: medium;
    text-shadow: 1px 1px 2px black;
}
.btn-servicios{
    border: none;
    background: none;
    color: aliceblue;
    font-size: medium;
    text-shadow: 1px 1px 2px black;
}
.btn{
    margin-top: -60px;
    margin-left: 450px;
}
.btn-sobrenosotros{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    border: none;
    background: none;
    font-size: medium;
}
.imagenuno{
    margin: 10px;
    border-radius: 25px;
    margin-left: 30px;
}
.xdd{
    margin-left: 420px;
}
.introduzir{
    margin-left: 150px;
}
.correoinput{
    
    background: none;

}
.ponercorreo{
    margin-left: 420px;
}
.numerotelefono{
    margin-left: 420px;
}
.numeroxds{
    margin-left: 420px;
}
.numeroxd{
  
    background: none
}

.introduzir{
    width: 300px;
    height: 200px;
    resize: none;
    background: none;
    outline: none;
    vertical-align: top;
    margin-left: 420px;
}
.check{
    margin-left: 420px;
    margin-top: 10px;
}
.condiciones{
    margin-left: 440px;
    margin-top: -40px;
}
.btn-5{
    width: 200px;
    height: 40px;
    background-color: #D2691E;
    color: aliceblue;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 420px;
}
.parrafin{
    margin-top: -590px;
    font-size: x-large;
}
.parafindos{
    font-size: medium;
}