
.container-fluid{
    background-color: #013D93;
    height: 75px;
    
}
.btn-whatsapp{
    position: fixed;
    right: 20px;
    width: 90px;
    height: 20PX;
    z-index: 999;
    bottom: 20px;
    
}
.carousel-inner{
    margin-top: 10px;
}
.imagenuno{
    margin: 10px;
    border-radius: 25px;
    margin-left: 30px;
}
.btn-sobrenosotros{
    border: none;
    background: none;
    font-size:  medium;
        color: aliceblue;
    text-shadow: 1px 1px 2px black;
}
.container-fluid-dos{
    background-color: black;
    height: 50px;
}
.Emprestitulo{
    font-size: medium;
    margin-left: 93px;
    margin-top: -60px;
    color: aliceblue;
}
.btn-planes{
     background: none;
     color: aliceblue;
     border: none;
     font-size: medium;
     text-shadow: 1px 1px 2px black;
}
.btn-contactos{
    border: none;
    background: none;
    color: aliceblue;
    font-size: medium;
    text-shadow: 1px 1px 2px black;
}
.btn-servicios{
    border: none;
    background: none;
    color: aliceblue;
    font-size: medium;
    text-shadow: 1px 1px 2px black;
}
.btn{
    margin-top: -95px;
    margin-left: 450px;
}
.btn-sobrenosotros{
        color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

.img-carrusel {
  height: 500px;
  width: 10px; 
  object-fit: contain; 
  object-position: center; 
 
}
.img-carruseldos{
    height: 500px;
    object-fit: contain;
    object-position: center;
}
.img-carruseltres{
    height: 500px;
    object-fit: contain;
    object-position: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* blanco → negro, negro → blanco */
}
.hero-section {
  background: linear-gradient(to right, #00c6ff, #0072ff); 
  color: white;
  height: 100px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%);
  display: flex;
  
}

.counters{
    padding: 2em 3em;
    background-color: #0072ff;
    color: #fff;
    text-align: center;
}
.counters > div{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em 2em;
}
.counter{
    position: relative;
}
.counter h1{
    font-size: 3em;
    margin-bottom: 0.5em;
}
.counter:not(:last-child)::before{
    height: 3em;
    width: 2px;
    position: absolute;
    content: '';
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -1em;
}
.col-md-6-text-white{
  text-shadow: 1px 1px 2px black;
}
.text-white{
    text-align: center;
}

.counters{
    padding: 3em 2em;
    background: #0072ff;
    color: #fff;
    text-align: center;
}
